:root {
    --main_border_color: #d4dadf;
    --main_accent_color: #2090E8;
    --main_bg_color_primary: #eff4f9;
    --main_bg_color_secondary: #fff;
    --main_deactivated_color: #7c7c7c;
    --main_control_bg_color: #fff;
    --main_shadow_color: rgba(0, 0, 0, 0.1);
}

.content {
    margin-top: 55px;
    height: calc(100vh - 55px);
    width: 100vw;
    background-color: var(--main_bg_color_primary);
    overflow: hidden;
}